{{#partial "styles"}}

    <link rel='stylesheet' href='/css/heroes.css'>

{{/partial}}

{{#partial "content"}}

    <h2>LIST OF HEROES!</h2>

    {{#if heroes}}

        {{#each heroes}}

            <hr>
            <h5>{{name}}</h5>
            <ul class="card-text">
                <li><span>Age: </span>{{age}}</li>
                <li><span>Power: </span>{{power}}</li>
                <li><span>Weakness: </span>{{weakness}}</li>
            </ul>

        {{/each}}

    {{else}}
        <p id="noHeroes">No Heroes Available!!!</p>
    {{/if}}

    {{#if heroes}}
        <a href="/heroes/delete"><button class="btn-danger">Delete All Heroes</button></a>
    {{/if}}


{{/partial}}

{{> layout.hbs}}